<div class="cards__container">
	<h2 class="cards__titulo">{{ cardTitle }}</h2>
	<div class="cards__container--card">
		<app-card gameCover="assets/spider2.avif" cardTitulo="Marvel's Spider-Man 2"></app-card>
		<app-card gameCover="assets/hogwarts.png" cardTitulo="Hogwarts Legacy"></app-card>
		<app-card gameCover="assets/dialbo4.avif" cardTitulo="Diablo IV"></app-card>
		<app-card gameCover="assets/fifa24.avif" cardTitulo="EA SPORTS FC 24"></app-card>
		<app-card gameCover="assets/gta5.png" cardTitulo="Grand Theft Auto V"></app-card>
		<app-card gameCover="assets/pes2024.avif" cardTitulo="eFootball 2024"></app-card>
	</div>
</div>
